<!doctype html>
<html lang="en">
{% load static %}
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- favicon -->
	<link rel="icon" href="{% static 'assets/images/jr.png' %}" type="image/png" /> 
	<!-- plugins -->
	<link href="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet"/>
	<link href="{% static 'assets/plugins/simplebar/css/simplebar.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/metismenu/css/metisMenu.min.css' %}" rel="stylesheet" />
	<!-- loader -->
	<link href="{% static 'assets/css/pace.min.css' %}" rel="stylesheet" />
	<script src="{% static 'assets/js/pace.min.js' %}"></script>
	<!-- Bootstrap CSS -->
	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/app.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/dark-theme.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/semi-dark.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/header-colors.css' %}" />

{% comment %} Header for index  {% endcomment %}           

	<!--FontAwesome CDN-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <!--Chartjs CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <title>JR Accounting Software</title>

</head>

<body>
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div>     
					<img src="{% static 'assets/images/jr.png' %} " class="logo-icon" alt="logo icon">
				</div>
				<div>
				<a href="{% url 'home' %}" class="text-decoration-none">
					<h4 class="logo-text text-dark">JR-Corpo</h4>
				</a>
				</div>
				<div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
				</div>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
				<li>
					<a href="javascript:;" class="has-arrow">
						<div class="parent-icon"><i class='bx bx-home-circle'></i>
						</div>
						<div class="menu-title">Dashboard</div>
					</a>
					<ul>
						<li> <a href="{% url 'approved_transaction_total' %}"><i class="bx bx-right-arrow-alt"></i>Income Summary</a></li>
						<li> <a href="{% url 'payment_summary' %}"><i class="bx bx-right-arrow-alt"></i>Cost Summary</a></li>
						
					</ul>
				</li>
				<li>
					<a href="javascript:;" class="has-arrow">
						<div class="parent-icon"><i class="bx bx-category"></i>
						</div>
						<div class="menu-title">Project</div>
					</a>
					<ul>
						<li> <a href="{% url 'project_list' %}"><i class="bx bx-right-arrow-alt"></i>Running Project List</a></li>
						<li> <a href="{% url 'all_project_list' %}"><i class="bx bx-right-arrow-alt"></i>All Project Add</a></li></li>
						<li> <a href="{% url 'memo_list' %}"><i class="bx bx-right-arrow-alt"></i>Supplier Memo List</a></li>
						<li> <a href="{% url 'manpowermemo_list' %}"><i class="bx bx-right-arrow-alt"></i>Fitter Supplier List</a></li>
					</ul>
				</li>

				<li class="menu-label">Memory</li>
				<li>
					<a class="has-arrow" href="javascript:;">
						<div class="parent-icon"><i class='bx bx-edit'></i>
						</div>
						<div class="menu-title">Add Profile </div>
					</a>
					<ul>
						<li> <a href="{% url 'project_create' %}"><i class="bx bx-right-arrow-alt"></i>Add New Project</a>
						<li> <a href="{% url 'category_list' %}"><i class="bx bx-right-arrow-alt"></i>Category Add</a></li>
						<li> <a href="{% url 'item_list' %}"><i class="bx bx-right-arrow-alt"></i>Item Add</a></li>
						<li> <a href="{% url 'company_list' %}"><i class="bx bx-right-arrow-alt"></i>Client Add</a></li>
						<li> <a href="{% url 'supplier_list' %}"><i class="bx bx-right-arrow-alt"></i>Supplier Add</a></li>
						<li> <a href="{% url 'menpower_list' %}"><i class="bx bx-right-arrow-alt"></i>Fitter Supplier Add</a></li>
						<li> <a href="{% url 'bank_list' %}"><i class="bx bx-right-arrow-alt"></i>Bank Add</a></li>
					</ul>
				</li>      

				<li class="menu-label">Financial Part</li>
				<li>
					<a class="has-arrow" href="javascript:;">
						<div class="parent-icon"><i class='bx bx-credit-card'></i>
						</div>
						<div class="menu-title">Transaction </div>
					</a>
					<ul>					
						<li> <a href="{% url 'transaction_list' %}"><i class="bx bx-right-arrow-alt"></i>Received from client</a></li>
						<li> <a href="{% url 'supplier_payment_list' %}"><i class="bx bx-right-arrow-alt"></i>Paid to supplier</a></li> 
						<li> <a href="{% url 'menpower_payment_list' %}"><i class="bx bx-right-arrow-alt"></i>Paid to worker</a></li>
						<li> <a href="{% url 'bank_account_list' %}"><i class="bx bx-right-arrow-alt"></i>Bank Account List</a></li>
						<li> <a href="{% url 'transfer_view' %}"><i class="bx bx-right-arrow-alt"></i>Transfer Balance </a></li>
						<li> <a href="{% url 'create_loan' %}"><i class="bx bx-right-arrow-alt"></i>Create a New Loan </a></li>
						<li> <a href="{% url 'loan_list_pending' %}"><i class="bx bx-right-arrow-alt"></i>list of Pending Loan</a></li>
					</ul>
				</li> 

				<li>
					<a class="has-arrow" href="javascript:;">
						<div class="parent-icon"><i class='bx bx-line-chart'></i>
						</div>
						<div class="menu-title">Reports </div>
					</a>
					<ul>
						<li> <a href="{% url 'client_due_report' %}" target="_blank" ><i class="bx bx-right-arrow-alt"></i>Client's Report</a></li> 
						<li> <a href="{% url 'supplier_due_report' %}" target="_blank" ><i class="bx bx-right-arrow-alt"></i>Supplier Report</a></li> 
						<li> <a href="{% url 'credit_transaction_report' %}" target="_blank" ><i class="bx bx-right-arrow-alt"></i>Credit Transaction Report</a></li> 
						<li> <a href="{% url 'devit_transaction_report' %}" target="_blank" ><i class="bx bx-right-arrow-alt"></i>Devit Transaction Report</a></li> 
					</ul>
				</li>  

			</ul>
			<!--end navigation-->
		</div>
		<!--end sidebar wrapper -->
		<!--start header -->
	<header>
			<div class="topbar d-flex align-items-center">
				<nav class="navbar navbar-expand">
					<div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
					</div>
					<div class="search-bar flex-grow-1">
						<div class="position-relative search-bar-box">
							<input type="text" class="form-control search-control" placeholder="Type to search..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
							<span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>
						</div>
					</div>
					<div class="top-menu ms-auto">
						<ul class="navbar-nav align-items-center">
							<li class="nav-item mobile-search-icon">
								<a class="nav-link" href="#">	<i class='bx bx-search'></i>
								</a>
							</li>
							<li class="nav-item dropdown dropdown-large">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">	<i class='bx bx-category'></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<div class="row row-cols-3 g-3 p-3">
										<div class="col text-center">
											<div class="app-box mx-auto bg-gradient-cosmic text-white"><i class='bx bx-group'></i>
											</div>
											<a href="{% url 'company_list' %}" class="app-title">Clients</a>
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto bg-gradient-burning text-white"><i class='bx bx-atom'></i>
											</div>
											<a href="{% url 'project_list' %}" class="app-title">Projects</a>
											
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto bg-gradient-lush text-white"><i class='bx bx-shield'></i>
											</div>
											<a href="#" class="app-title">Items</a>
											
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto bg-gradient-kyoto text-dark"><i class='bx bx-notification'></i>
											</div>
											<a href="#" class="app-title">Records</a>
											
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto bg-gradient-blues text-dark"><i class='bx bx-file'></i>
											</div>
											<a href="#" class="app-title">Transactions</a>
											
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto bg-gradient-moonlit text-white"><i class='bx bx-filter-alt'></i>
											</div> 
											<a href="{% url 'bank_account_list' %}" class="app-title">Banks A.</a>
											
										</div>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-large">
								
								<div class="dropdown-menu dropdown-menu-end">
									<a href="javascript:;">
										<div class="msg-header">
											<p class="msg-header-title">Notifications</p>
											<p class="msg-header-clear ms-auto">Marks all as read</p>
										</div>
									</a>
									<div class="header-notifications-list">
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-primary text-primary"><i class="bx bx-group"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">New Customers<span class="msg-time float-end">14 Sec
												ago</span></h6>
													<p class="msg-info"></p>
												</div>
											</div>
										</a>
										
										
										
									</div>
									<a href="javascript:;">
										<div class="text-center msg-footer">View All Notifications</div>
									</a>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-large">
								
								<div class="dropdown-menu dropdown-menu-end">
									<a href="javascript:;">
										<div class="msg-header">
											<p class="msg-header-title">Messages</p>
											<p class="msg-header-clear ms-auto">Marks all as read</p>
										</div>
									</a>
									<div class="header-message-list">
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="assets/images/avatars/avatar-1.png" class="msg-avatar" alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name"> <span class="msg-time float-end">5 sec
												ago</span></h6>
													<p class="msg-info"></p>
												</div>
											</div>
										</a>
										
									</div>
									<a href="javascript:;">
										<div class="text-center msg-footer">View All Messages</div>
									</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="user-box dropdown">
						<a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="{% static 'assets/images/jr.png' %}" class="user-img" alt="user avatar">
							<div class="user-info ps-3">
								<p class="user-name mb-0">{{ user.username }}</p>
								<p class="designattion mb-0">{{ user.email }}</p>
							</div>
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="javascript:;"><i class="bx bx-user"></i><span>Profile</span></a>
							</li>
							<li>
								<div class="dropdown-divider mb-0"></div>
							</li>
                            <li>
								<form action="{% url 'logout' %}" method="post">
									{% csrf_token %}
									<button type="submit">Logout</button>
								</form> 
						    </li>

							
							
						</ul>
					</div>
				</nav>
			</div>
	</header>
		<!--end header -->
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				{% block content %}

				{% endblock %}
					
				
				

			</div>
		</div>

		<!--end page wrapper -->
		<!--start overlay-->
		<div class="overlay toggle-icon"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<footer class="page-footer">
			<p class="mb-0">Copyright © 2024. PKIT Group.</p>
		</footer>
	</div>
	<!--end wrapper-->
	<!--start switcher-->
	<div class="switcher-wrapper">
		<div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
		</div>
		<div class="switcher-body">
			<div class="d-flex align-items-center">
				<h5 class="mb-0 text-uppercase">Theme Customizer</h5>
				<button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
			</div>
			<hr/>
			<h6 class="mb-0">Theme Styles</h6>
			<hr/>
			<div class="d-flex align-items-center justify-content-between">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode" checked>
					<label class="form-check-label" for="lightmode">Light</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="darkmode">
					<label class="form-check-label" for="darkmode">Dark</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="semidark">
					<label class="form-check-label" for="semidark">Semi Dark</label>
				</div>
			</div>
			<hr/>
			<div class="form-check">
				<input class="form-check-input" type="radio" id="minimaltheme" name="flexRadioDefault">
				<label class="form-check-label" for="minimaltheme">Minimal Theme</label>
			</div>
			<hr/>
			<h6 class="mb-0">Header Colors</h6>
			<hr/>
			<div class="header-colors-indigators">
				<div class="row row-cols-auto g-3">
					<div class="col">
						<div class="indigator headercolor1" id="headercolor1"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor2" id="headercolor2"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor3" id="headercolor3"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor4" id="headercolor4"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor5" id="headercolor5"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor6" id="headercolor6"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor7" id="headercolor7"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor8" id="headercolor8"></div>
					</div>
				</div>
			</div>
			<hr/>
			<h6 class="mb-0">Sidebar Colors</h6>
			<hr/>
			<div class="header-colors-indigators">
				<div class="row row-cols-auto g-3">
					<div class="col">
						<div class="indigator sidebarcolor1" id="sidebarcolor1"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor2" id="sidebarcolor2"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor3" id="sidebarcolor3"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor4" id="sidebarcolor4"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor5" id="sidebarcolor5"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor6" id="sidebarcolor6"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor7" id="sidebarcolor7"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor8" id="sidebarcolor8"></div>
					</div>
				</div>
			</div>
		</div>
	</div> 
	<!--end switcher-->
	<!-- Bootstrap JS -->
	<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
	<!--plugins-->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/plugins/simplebar/js/simplebar.min.js' %}"></script>
	<script src="{% static 'assets/plugins/metismenu/js/metisMenu.min.js' %}"></script>
	<script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
	<script src="{% static 'assets/plugins/Drag-And-Drop/dist/imageuploadify.min.js' %}"></script>
	
	<script>
		$(document).ready(function () {
			$('#image-uploadify').imageuploadify();
		})
	</script>
	<!--app JS-->
	<script src="{% static 'assets/js/app.js' %}"></script>



	<!--end switcher-->
	<!-- Bootstrap JS -->
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<!-- plugins -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'plugins/simplebar/js/simplebar.min.js' %}"></script>
	<script src="{% static 'plugins/metismenu/js/metisMenu.min.js' %}"></script>
	<script src="{% static 'plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
	<script src="{% static 'plugins/chartjs/js/Chart.min.js' %}"></script>
	<script src="{% static 'plugins/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
	<script src="{% static 'plugins/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	<script src="{% static 'plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
	<script src="{% static 'plugins/sparkline-charts/jquery.sparkline.min.js' %}"></script>
	<script src="{% static 'plugins/jquery-knob/excanvas.js' %}"></script>
	<script src="{% static 'plugins/jquery-knob/jquery.knob.js' %}"></script>
	<script>
		$(function() {
			$(".knob").knob();
		});
	</script>
	<script src="{% static 'js/index.js' %}"></script>
	<!-- app JS -->
	<script src="{% static 'js/app.js' %}"></script> 



</body>

</html>